/* GENERAL */

#hamburger-icon3-1,
#hamburger-icon3-2,
#hamburger-icon3-3,
#hamburger-icon3-4 {
  width: 3.75rem;
  height: 2.8125rem;
  position: relative;
  margin: 8px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-icon3-1 span,
#hamburger-icon3-3 span,
#hamburger-icon3-4 span {
  display: block;
  position: absolute;
  height: 0.5625rem;
  width: 100%;
  background: #333;
  border-radius: 0.5625rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* TYPE ONE */
#hamburger-icon3-1 span:nth-child(1) {
  top: 0;
}

#hamburger-icon3-1 span:nth-child(2) {
  top: 1.125rem;
}

#hamburger-icon3-1 span:nth-child(3) {
  top: 2.25rem;
}

#hamburger-icon3-1.is-active span:nth-child(1) {
  top: 1.125rem;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger-icon3-1.is-active span:nth-child(2) {
  opacity: 0;
  left: -3.75rem;
}

#hamburger-icon3-1.is-active span:nth-child(3) {
  top: 1.125rem;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */

#hamburger-icon3-2 span {
  display: block;
  position: absolute;
  height: 0.5625rem;
  width: 50%;
  background: #333;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-icon3-2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 0.5625rem 0.5625rem 0;
}

#hamburger-icon3-2 span:nth-child(odd) {
  left: 0;
  border-radius: 0.5625rem 0 0 0.5625rem;
}

#hamburger-icon3-2 span:nth-child(1),
#hamburger-icon3-2 span:nth-child(2) {
  top: 0;
}

#hamburger-icon3-2 span:nth-child(3),
#hamburger-icon3-2 span:nth-child(4) {
  top: 1.125rem;
}

#hamburger-icon3-2 span:nth-child(5),
#hamburger-icon3-2 span:nth-child(6) {
  top: 2.25rem;
}

#hamburger-icon3-2.is-active span:nth-child(1),
#hamburger-icon3-2.is-active span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon3-2.is-active span:nth-child(2),
#hamburger-icon3-2.is-active span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon3-2.is-active span:nth-child(1) {
  left: 0.3125rem;
  top: 0.4375rem;
}

#hamburger-icon3-2.is-active span:nth-child(2) {
  left: calc(50% - 0.3125rem);
  top: 0.4375rem;
}

#hamburger-icon3-2.is-active span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#hamburger-icon3-2.is-active span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#hamburger-icon3-2.is-active span:nth-child(5) {
  left: 0.3125rem;
  top: 1.8125rem;
}

#hamburger-icon3-2.is-active span:nth-child(6) {
  left: calc(50% - 0.3125rem);
  top: 1.8125rem;
}

/* Icon 3 */

#hamburger-icon3-3 span:nth-child(1) {
  top: 0;
}

#hamburger-icon3-3 span:nth-child(2),
#hamburger-icon3-3 span:nth-child(3) {
  top: 1.125rem;
}

#hamburger-icon3-3 span:nth-child(4) {
  top: 2.25rem;
}

#hamburger-icon3-3.is-active span:nth-child(1) {
  top: 1.125rem;
  width: 0%;
  left: 50%;
}

#hamburger-icon3-3.is-active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon3-3.is-active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon3-3.is-active span:nth-child(4) {
  top: 1.125rem;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

#hamburger-icon3-4 span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-icon3-4 span:nth-child(2) {
  top: 1.125rem;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-icon3-4 span:nth-child(3) {
  top: 2.25rem;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-icon3-4.is-active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -0.1875rem;
  left: 0.5rem;
}

#hamburger-icon3-4.is-active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger-icon3-4.is-active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 2.4375rem;
  left: 0.5rem;
}
